@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(36, 33%, 97%);
  --foreground: hsl(0, 0%, 15%);
  --card: #ffffff;
  --card-foreground: hsl(40, 30%, 4%);
  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(0, 0%, 15%);
  --primary: hsl(0, 0%, 15%);
  --primary-foreground: hsl(36, 33%, 97%);
  --secondary: hsl(42, 26%, 93%);
  --secondary-foreground: hsl(40, 30%, 4%);
  --muted: hsl(36, 33%, 95%);
  --muted-foreground: hsl(40, 5%, 38%);
  --accent: hsl(6, 22%, 82%);
  --accent-foreground: hsl(0, 0%, 15%);
  --destructive: hsl(0, 80%, 40%);
  --destructive-foreground: hsl(36, 33%, 97%);
  --border: hsl(36, 33%, 90%);
  --input: hsl(36, 33%, 90%);
  --ring: hsl(36, 33%, 50%);
  --chart-1: hsl(41, 60%, 60%);
  --chart-2: hsl(185, 60%, 60%);
  --chart-3: hsl(227, 60%, 40%);
  --chart-4: hsl(84, 80%, 70%);
  --chart-5: hsl(70, 80%, 70%);
  --radius: 0.5rem;
  --sidebar: hsl(0, 0%, 98%);
  --sidebar-foreground: hsl(0, 0%, 15%);
  --sidebar-primary: hsl(0, 0%, 20%);
  --sidebar-primary-foreground: hsl(0, 0%, 98%);
  --sidebar-accent: hsl(0, 0%, 97%);
  --sidebar-accent-foreground: hsl(0, 0%, 20%);
  --sidebar-border: hsl(0, 0%, 92%);
  --sidebar-ring: hsl(0, 0%, 71%);
}

.dark {
  --background: hsl(0, 0%, 8%);
  --foreground: hsl(0, 0%, 95%);
  --card: hsl(0, 0%, 10%);
  --card-foreground: hsl(0, 0%, 95%);
  --popover: hsl(0, 0%, 10%);
  --popover-foreground: hsl(0, 0%, 95%);
  --primary: hsl(0, 0%, 95%);
  --primary-foreground: hsl(0, 0%, 8%);
  --secondary: hsl(0, 0%, 15%);
  --secondary-foreground: hsl(0, 0%, 95%);
  --muted: hsl(0, 0%, 15%);
  --muted-foreground: hsl(0, 0%, 60%);
  --accent: hsl(25, 80%, 25%);
  --accent-foreground: hsl(0, 0%, 95%);
  --destructive: hsl(0, 80%, 25%);
  --destructive-foreground: hsl(0, 0%, 95%);
  --border: hsl(0, 0%, 20%);
  --input: hsl(0, 0%, 20%);
  --ring: hsl(0, 0%, 40%);
  --chart-1: hsl(264, 80%, 48%);
  --chart-2: hsl(162, 80%, 70%);
  --chart-3: hsl(70, 80%, 70%);
  --chart-4: hsl(304, 80%, 63%);
  --chart-5: hsl(16, 80%, 65%);
  --sidebar: hsl(0, 0%, 20%);
  --sidebar-foreground: hsl(0, 0%, 98%);
  --sidebar-primary: hsl(264, 80%, 48%);
  --sidebar-primary-foreground: hsl(0, 0%, 98%);
  --sidebar-accent: hsl(0, 0%, 27%);
  --sidebar-accent-foreground: hsl(0, 0%, 98%);
  --sidebar-border: hsl(0, 0%, 27%);
  --sidebar-ring: hsl(0, 0%, 44%);
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .nav-link {
    @apply text-foreground hover:text-accent transition-colors;
  }
  .nav-logo {
    @apply text-xl font-light text-foreground tracking-wide shrink-0;
  }
  .component-padding {
    @apply py-16 px-4 sm:px-6 lg:px-8;
  }
  .component-container {
    @apply max-w-7xl mx-auto;
  }

  /* Product */
  .product-card {
    @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6;
  }

  .product-container {
    @apply max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8;
  }
  .checkout-container {
    @apply max-w-7xl mx-auto py-7 px-4 sm:px-6 lg:px-8;
  }

  .text-mute {
    @apply text-muted-foreground text-sm;
  }

  .product-heading-text {
    @apply text-3xl text-foreground/95;
  }

  .sale-price {
    @apply text-2xl font-semibold text-foreground/95;
  }
  .regular-price {
    @apply text-xl line-through text-foreground/95;
  }

  .product-quantity {
    @apply text-sm text-muted-foreground font-medium w-12 text-center;
  }
}
